

.control-label-residual{
	
	float: left;
    display: inline;
    overflow: hidden;
    width: auto;
    padding-right:10px;
    text-align: left;
    padding-top: 12px;
}

.control-residual{
	margin:3% 0;
	width: 750px;
	float: left;
}

.left {
	margin-left:2%;
}

.text-width{
	width:100px !important;
}


#new th {
	background-color: #3C454F !important;
	color: white !important;
	padding: 10px 10px 10px 10px !important;
	font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
    border-right-color: white !important;
			
}
#new tr:nth-child(2n+2)
{
  background-color: #f3f4f5 !important;
}
#new tr:nth-child(2n+1) td
{
  background-color: #d6dadf !important;
  color: #454545 !important;
}
#new td{
  padding: 5px 10px 5px 05px !important;
  color: #454545 !important;
  border: 1px solid #cccccc !important;
  vertical-align: middle !important;
  font-size: 14px !important;
  font-family: Times New Roman !important;
}
.residual_button{			
	outline: none;
	    border: none;
	    padding: 0 25px;
	    height: 25px;
	    /* color: #ffffff; */
	    font-weight: bold;	
}			


	.ui-datepicker-trigger {
  				 width: 18px !important; 
  				height:17px !important;
  				margin-top: 8px !important;
			}
			
			
.errorMsg{
	padding-top: 25%;
    font-size: 18px;
    font-weight: bold;
    color: red;
}