/**
	Created By Bhagya On June 29th, 2015
	qa.css
	In this applied css for addQAForm.jsp and viewQADealSheets.jsp
*/
 
 	#qa_form{
				position: absolute;
				/* border: 5px solid rgb(140, 177, 231);*/
				padding: 10px;
				/* background: white;  */
				width: 701px;
				height: auto;
				border-radius: 33px;		   
			    behavior: url(/hoveyenergy/js/js/PIE.htc);
				z-index: 9999;
			}
				
		.qaPagePopup{
				font-size: 15px;
				float: left;
				color:blue;
				text-decoration: underline;
				
			}
			
			.qaerror{
	    		color: #F00;
	    		text-align:initial;
	    		margin-left:100px;
	    	}
	    	
	    	.ui-datepicker-trigger {
  				 width: 18px !important; 
  				height:17px !important;
  				margin-top: 8px !important;
			}
	    	
		.qa-input{
			width:240px !important;
			margin-left:-100px !important;
			}
			
		.checklist-main-div{
			display: inline-block;
    		width: 700px;
    		margin-top: 20px;
		}
		.checklist-main-leftdiv{
			float:left;
			width:400px;
		}
		.checklist-main-rightdiv{
			float:right;
			width:300px;
			margin-right: -40px;
		}
		.checklist-sub-div{
			border:1px solid #ccc;
			height:285px;
		}
		.checklist-sub-tpvdiv{
			border:1px solid #ccc;
			line-height: normal!important;
    		font-size: 13px !important;
		}
		.checklist-sub-title{
			text-align: left;
			font-weight: bold;
			margin-top: 10px;
			margin-left:3px;
			margin-bottom:-30px;
		}
		.checklist-sub-leftdiv{
			float: left;
			margin-left:3px;
		}
		.checklist-sub-rightdiv{
			float: right;
			margin-right:30px;
		}
		.checklist_sales_row{
			padding-top: 40px;
		}
		.tpv-input{
			margin-left:100px  ;
		
		}
		.qa-comments {
   			 float: left;
   			 /* margin-top: -255px; */
		}
		.qa-font{
			font-size:20px;
		}
		
		
		
		.checklist-sub-div  label {
  			display: initial;
  
			}
			
			
		.checklist-sub-tpvdiv label {
  			display: initial;
			}
			
		.checklist-sub-div label, input, input[type="text"], button, select, textarea {
  				font: 13px/1.231 "Trebuchet MS",Helvetica,sans-serif !important;
			}
			
		.checklist-sub-tpvdiv label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
		.checklist-sub-div label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			
		.sales_dropdown{
			padding-top: 20px;
			padding-bottom: 40px !important;
		}
		
		/**
		 Added css by bhagya on June 08th,2021
		 For TPV checklist alignment
		*/
		
		.mn_checklist{
			margin: 7px 0;
    		float: left;
    		width: 100%;
		}
		.mn_checklist label{
		float:left;
		}
		.mn_checklist input{
			float:right;
			margin:0 !important;
		}
		.mn_maindiv{
			padding:0px 20px;
		}
		.checklist-main-rightdiv .checklist-sub-tpvdiv{
		height: 550px;
    	overflow: auto;
		}
		
		/**
		 End of css
		 For TPV checklist alignment
		*/
		