/**
	Created By Bhagya On June 29th, 2015
	qa.css
	In this applied css for addQAForm.jsp and viewQADealSheets.jsp
*/
 
	.qa-input{
			width:240px !important;
			margin-left:-100px !important;
		}
		
		
		.qasub-title{
			float: left;
  			margin-top: 10px;
  			font-weight: bold;
  			margin-left: 5px;
		}
		.left-div{
			text-align: left;
  			margin-left: 05px;
		}
		.checklist-div{
			margin-top:40px;
		}
		.right-div{
			text-align: right;
			
		}
		.checklist-right-div{
			margin-top: -165px;
  			
		}
		.tpv-headdiv{
			margin-top: 10px;
   			font-weight: bold;
  			text-decoration: underline;
		}
		.tpv-label{
			margin-left:7px;
		}
		.tpv-input{
			margin-left:100px  ;
		
		}
		.qa-font{
			font-size:20px;
		}
		
			#qa_form{
				position: absolute;
				/* border: 5px solid rgb(140, 177, 231);*/
				padding: 10px;
				/* background: white;  */
				width: 701px;
				height: auto;
				border-radius: 33px;		   
			    behavior: url(/hoveyenergy/js/js/PIE.htc);
				z-index: 9999;
			}
				
		.qaPagePopup{
				font-size: 15px;
				float: left;
				color:blue;
				text-decoration: underline;
				
			}
			.checklist-div  label {
  			display: initial;
  
			}
			
			.tpv-checklistdiv label {
  			display: initial;
			}
			.checklist-div label, input, input[type="text"], button, select, textarea {
  				font: 13px/1.231 "Trebuchet MS",Helvetica,sans-serif !important;
			}
			.checklist-div label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.tpv-checklistdiv label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.checklist-right-div label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.tpv-checklistdiv{
				width:380px;
				/* height:490px; */
				border:1px solid #ccc;
				margin-left:435px;
			}
			.qa-main-div {
  				font: 13px/1.231 "Trebuchet MS",Helvetica,sans-serif !important;
  				line-height: normal !important;
			}
			.ui-datepicker-trigger {
  				 width: 18px !important; 
  				height:17px !important;
  				margin-top: 8px !important;
			}			
	    	.qaerror{
	    		color: #F00;
	    		text-align:initial;
	    		margin-left:100px;
	    	}
	    	
	    	
	    	
	    	
	    	
	    	
	    	
	   