/**
	Created By Bhagya On June 29th, 2015
	qa.css
	In this applied css for addQAForm.jsp and viewQADealSheets.jsp
*/

	   
	   
	.qa-input{
			width:240px !important;
			margin-left: 20px;
			/* margin-left:-100px !important; */
		}
		
		
		.qasub-title{
			float: left;
  			margin-top: 10px;
  			font-weight: bold;
  			margin-left: 5px;
		}
		.left-div{
			text-align: left;
  			margin-left: 05px;
		}
		.checklist-div{
			margin-top:40px;
		}
		.right-div{
			text-align: right;
			
		}
		.checklist-right-div{
			margin-top: -240px;
  			
		}
		.tpv-headdiv{
			margin-top: 10px;
   			font-weight: bold;
  			text-decoration: underline;
		}
		.tpv-label{
			margin-left:7px;
		}
		.tpv-input{
			margin-left:100px  ;
		
		}
		.qa-font{
			font-size:20px;
		}
		
			#qa_form{
				position: absolute;
				/* border: 5px solid rgb(140, 177, 231);*/
				padding: 10px;
				/* background: white;  */
				width: 701px;
				height: auto;
				border-radius: 33px;		   
			    behavior: url(/hoveyenergy/js/js/PIE.htc);
				z-index: 9999;
			}
				
		.qaPagePopup{
				font-size: 15px;
				float: left;
				color:blue;
				text-decoration: underline;
				
			}
			.checklist-div  label {
  			display: initial;
  
			}
			
			.tpv-checklistdiv label {
  			display: initial;
			}
			.checklist-div label, input, input[type="text"], button, select, textarea {
  				font: 13px/1.231 "Trebuchet MS",Helvetica,sans-serif !important;
			}
			.checklist-div label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.tpv-checklistdiv label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.checklist-right-div label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.tpv-checklistdiv{
				width:380px;
				height:610px;
				border:1px solid #ccc;
				margin-left:470px;
				  text-align: center;
			}
			.qa-main-div {
  				font: 13px/1.231 "Trebuchet MS",Helvetica,sans-serif !important;
  				line-height: normal !important;
			}
			.ui-datepicker-trigger {
  				 width: 18px !important; 
  				height:17px !important;
  				margin-top: 8px !important;
			}			
	    	.qaerror{
	    		color: #F00;
	    		text-align:initial;
	    		margin-left:100px;
	    	}
	    	
	    	label{
	    	display:inline-block !important;
	    	}
	    	.control-qa {
  				margin-left: 30px;
			}
	    
	    	.checklist-marginleft{
	    		margin-left:30px;
	    	}
	    	.pass-title{
	    		margin-left:190px;
	    	}
			#tpv-title{
				margin-top:-300px;margin-left:615px;text-decoration: none; 
			}
			
			.business-style{
				clear:both;
				margin-left:30px;
			}
			
			input#qaScore{
	    	margin-left:20px;
	    	
			}
			
			input#phone{
	    	margin-left:20px;
			}
			input#qaDate{
			margin-left:95px;
			}
	    	input#agentName{
	    	margin-left:55px;
			}
			input#businessName{
			margin-left:37px;
			}
			
			#printScore{
			text-align:left;margin-top:-40px;margin-left:500px;
			}
			
			#printPhone{
			text-align:left;margin-top:-40px;margin-left:500px;
			}
			
			#agentNotes{
				min-height:100px;
			}
			input.acc-width {
  				width: 220px !important;
			}
			
			.row-fluid [class*="span"]:first-child {
  			  margin-left: 15px !important;
			}
			
			input.strDate-width{
				width:100px !important;
			}
			
			.sales-input{
				width:40px! important;
				padding:0px!important;
			}
			
			
			
		@media print 
		{ 	
	    	
	    	.qa-input{
			width:240px !important;
			margin-left: 20px;
			/* margin-left:-100px !important; */
		}
			
		
		
		.qasub-title{
			float: left;
  			margin-top: 10px;
  			font-weight: bold;
  			margin-left: 5px;
		}
		.left-div{
			text-align: left;
  			margin-left: 05px;
		}
		.checklist-div{
			margin-top:40px;
		}
		.right-div{
			text-align: right;
			
		}
		.checklist-right-div{
			margin-top: -240px;
  			
		}
		.tpv-headdiv{
			margin-top: 10px;
   			font-weight: bold;
  			text-decoration: underline;
		}
		.tpv-label{
			 margin-left:0px; 
		}
		.tpv-input{
			margin-left:100px  ;
		
		}
		.qa-font{
			font-size:20px;
		}
		
			#qa_form{
				position: absolute;
				/* border: 5px solid rgb(140, 177, 231);*/
				padding: 10px;
				/* background: white;  */
				width: 701px;
				height: auto;
				border-radius: 33px;		   
			    behavior: url(/hoveyenergy/js/js/PIE.htc);
				z-index: 9999;
			}
				
		.qaPagePopup{
				font-size: 15px;
				float: left;
				color:blue;
				text-decoration: underline;
				
			}
			.checklist-div  label {
  			display: initial;
  
			}
			
			.tpv-checklistdiv label {
  			display: initial;
			}
			.checklist-div label, input, input[type="text"], button, select, textarea {
  				font: 13px/1.231 "Trebuchet MS",Helvetica,sans-serif !important;
			}
			.checklist-div label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.tpv-checklistdiv label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.checklist-right-div label, input, button, select, textarea {
 
  				font-weight: bold ! important;
  				line-height: normal ! important;
			}
			.tpv-checklistdiv{
				width:200px;
				height:620px;
				border:1px solid #ccc;
				margin-left:400px;
				text-align: center;
			}
			.qa-main-div {
  				font: 13px/1.231 "Trebuchet MS",Helvetica,sans-serif !important;
  				line-height: normal !important;
			}
			.ui-datepicker-trigger {
  				 width: 18px !important; 
  				height:17px !important;
  				margin-top: 8px !important;
			}			
	    	.qaerror{
	    		color: #F00;
	    		text-align:initial;
	    		margin-left:100px;
	    	}
	    	.control-qa {
  				margin-left:0px;
			}
	    	label{
	    	display:inline-block !important
	    	}
	    	
	    	input#qaScore{
	    	margin-left:10px;
	    	
			}
			
			input#phone{
	    	margin-left:10px;
			}
			input#qaDate{
			margin-left:45px;
			}
	    	input#agentName{
	    	margin-left:10px;
			}
			input#businessName{
			margin-left:01px;
			}
			
			#printScore{
			text-align:left;margin-top:-40px;margin-left:330px;
			}
			
			#printPhone{
			text-align:left;margin-top:-40px;margin-left:325px;
			}
			.checklist-marginleft{
	    		margin-left:0px;
	    	}
	    	.pass-title{
	    		margin-left:150px;
	    	}
	    	#tpv-title{
				margin-top:-300px;margin-left:515px;text-decoration: none; 
			}
			.business-style{
				clear:both;
				margin-left:0px;
			}
			#agentNotes{
				min-height:10px;
			}
			input.acc-width {
 				 width:150px !important;
			}
			.row-fluid [class*="span"]:first-child {
  			  margin-left: 10px !important;
			}
			input.strDate-width{
				width:80px !important;
			}
			#qaInfo-title{
			margin-top:30px !important;
			}
			
			
			.sales-input{
				width:40px! important;
				padding:0px!important;
			}
		
	   }
	   
	   
	   
	       	
	    	
	    	
	    	
	    	
	   